

#container
{
    background-image: url('/imagens/target001.png');
    background-size: 100% 100%;
    position: relative;/**/
    height: 96vh;
    padding: 10px;
    background-color: purple;
}

#conteudo
{
    background-image: url('/imagens/target001.png');
    background-size: 100% 100%;
    position: absolute;/*para */
    height: 200px;
    width: 400px;
    background-color: yellow;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button
{
    position: relative;
    padding: 20px;
    margin: 10px;
    left: 35%;
    top: 35%;
    border-radius: 50px;
    background-color: rgb(21, 34, 36);
}

a
{
    color: aqua;
}

#coruja
{
    position: relative;/**/
    height: 250px;
    width: 250px; 
    left: 10%;
    top: 10%;
}