body
{
    height: 100vh;
    background-color: rgb(20, 85, 110);
    background-image: url('../imagens/wallpaper005.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1
{
    color: rgb(67, 100, 100);
}
button
{
    padding: 20px;
    margin: 10px;
    border-radius: 50px;
    background-color: rgb(97, 149, 156);
}


a
{
     
    color: antiquewhite;
}
img
{
    padding-top: 20px;
    margin-left: 50%;
}