body
{
    /*
    height: 100vh;
    background-color: black;
    background-image: url('../imagens/wallpaper002.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    */
    /* shorthand -> background 
       color > image > position > repeat > [size] > attachment
    */
    height: 100vh;
    background: black  url('../imagens/wallpaper002.jpg') center center no-repeat  fixed;
}

main
{
    background-color: rgb(223, 210, 210);
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    border: 1px solid darkblue
}


h1
{
    color: rgb(5, 119, 119);
}

p
{
    color: rgb(11, 12, 12);
}
button
{
    background-color: rgb(87, 23, 146);
    border-radius: 5px;
}
a
{
    color: rgb(214, 191, 191);
}

